/*  PAGINACION */
div.pagina {
    display: grid;
    grid-template-areas:
    'nav header header header header header header'
    'nav main main main main main main'
    'footer footer footer footer footer footer footer'; 
}

.nav-collapse{
    display: grid;
    grid-template-areas:
    'header header header header header header header'
    'main main main main main main main'
    'footer footer footer footer footer footer footer';
}

.invisible{
    display: none;
}

/*                               NAV LIST                        */

nav.nav-list {
    grid-area: nav;
    background: #1a1a1a;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 60%) !important;
}

nav.nav-list ul li a{
    padding: 20px;
    color: #c7c7c7;
}

nav.nav-list ul li a:hover{
    border-left: 5px solid #c7c7c7;
}

div.top-nav-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    color: white;
}

/*                               HEADER                              */

header{
    display: flex;
    grid-area: header;
    background: #FFF;    
}

/* titulo */
header div.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

div.title h1{
    font-size: 1.5rem;
    margin: 5px 0px 5px 50px;
}
/* btn menu hamburguesa */
div.btn-nav{
    margin: 10px 10px 10px 10px;
}

header div.login{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    width: 50%;
}
header div.login input{
    margin-right: 5px;
}

.btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 61%;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-right: 11px;
}

/*                       CONTAINER MAIN                 */
div.container-table{
    grid-area: main;
    height: 800px;
    background-color: #f4f4f4 !important;
    padding: 0px;
}

div.main-page{
    display: flex;
    flex-direction: column;
}

/*title and buttons main-page*/
div.new-libro {
    display: flex;
    padding: 30px 0px 30px 0px;
}

div.new-libro h1{
    display: flex;
    width: 30%;
    font-size: 30px;
    padding-left: 50px;
}

div.new-libro button{
    margin: 0px 5px 0px 5px;
}

div.btn-libro{
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

select.form-select{
    margin-right: 10px;
    width: 15%;
}


#btn-list-libro{
    display: flex;
    align-items: center;
}


/* table main-page */
div.title-table{
    margin-bottom: 20px;
}
div.main-table, div.title-table{
    padding: 0px 50px 0px 50px;
}

div.main-table ul li.list-group-item, div.title-table ul li.list-group-item{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas:
    "titulo genero autor precio delete edit";
}

#titulo-libro{
    grid-area: titulo;
}

#genero-libro{
    grid-area: genero
}

#autor-libro{
    grid-area: autor;
}

#precio-libro{
    grid-area: precio;
}

#btn-libro-delete{
    grid-area: delete;
    margin-right: 5px
}

#btn-libro-edit{
    grid-area: edit;
}

/*           --------------------------------         FORM CREAR LIBRO        ---------------------------------                          */

.form-control{
    width: 50%;
}

.mb-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.form-genero{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}

div.form-genero label {
    margin-right: 15px;
}

.form-label {
    margin-bottom: 0px;
}

div.form-check {
    display: flex;
    justify-content: center;   
    margin-bottom: 20px;
}

div.form-check input{
    margin-right: 15px;
}

.submit-create{
    display: flex;
    justify-content: center;
}

/*           --------------------------------         FOOTER        ---------------------------------                          */
footer{
    display: flex;
    grid-area: footer;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    background-color: #1c1c1c;
}

footer div h5{
    color: #c7c7c7;
}

