/*  PAGINACION */
div.pagina {
    display: flex;
}

.invisible{
    display: none !important;
}

/*                               NAV LIST                        */

#img-logo{
    width: 70%;
    margin-top: 18px;
}

nav.nav-list {
    grid-area: nav;
    background: #1a1a1a;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 60%) !important;
    width: 15%;
}

nav.nav-list ul li a{
    padding: 20px;
    color: #c7c7c7;
}

nav.nav-list ul li a:hover{
    border-left: 5px solid #c7c7c7;
}

div.top-nav-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    color: white;
}

/*                               HEADER                              */

header{
    display: flex;
    grid-area: header;
    box-shadow: 0 2px 0 0 rgb(26 26 26 / 10%) !important;
}

/*                      titulo                                  */
header div.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

div.title h1{
    font-size: 1.5rem;
    margin: 5px 0px 5px 50px;
}
/*                          btn menu hamburguesa                        */
div.btn-nav{
    margin: 10px 10px 10px 10px;
}

header div.login{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    align-items: center;
    width: 50%;
}
header div.login input{
    margin-right: 5px;
}

.btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 61%;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-right: 11px;
}

/*                   CONTAINER MAIN HOME              */

div.content-top-page{
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
    align-items: center;
}

/* div.main-page{
    display: flex;
    padding: 30px 0px 30px 0px;
    justify-content: space-around;
} */

/*                  title and buttons main-page                          */
div.new-libro {
    display: flex;
}

div.new-libro h1{
    display: flex;
    width: 30%;
    font-size: 30px;
    padding-left: 50px;
}

.select-filtro{
    display: flex;
}

div.new-libro button{
    margin: 0px 5px 0px 5px;
}

div.btn-libro{
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

select.form-select{
    margin-right: 10px;
}

#btn-list-libro{
    display: flex;
    align-items: center;
}

/*      --------------------------------         FORM FILTRO E INPUTS PARA TEXTO        --------------------------------         */
form#select-titulo, form#select-autor, form#select-genero{
    display: flex;
}

.margin-right-10px{
    margin-right: 10px;
}

/* table main-page */
div.title-table{
    margin-bottom: 20px;
}
div.main-table, div.title-table{
    margin: 0px 50px 0px 50px;
}

div.main-table ul li.list-group-item, div.title-table ul li.list-group-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo genero autor precio delete edit";
}

#titulo-libro{
    grid-area: titulo;
}

#genero-libro{
    grid-area: genero
}

#autor-libro{
    grid-area: autor;
}

#precio-libro{
    grid-area: precio;
}

#btn-libro-delete{
    grid-area: delete;
    margin-right: 5px
}

#btn-libro-edit{
    grid-area: edit;
}

div.content{
    width: 100%;
}

/*           --------------------------------         FORM CREAR LIBRO        ---------------------------------                          */

.margin-15px{
    margin: 15px 15px 15px 15px;
}

.btn-sub-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*           --------------------------------         FORM CREAR GENERO      ---------------------------------                          */

.form-genero{
    display: flex;
    justify-content: space-around;
}

/*           --------------------------------         FOOTER        ---------------------------------                          */
footer{
    display: flex;
    grid-area: footer;
    justify-content: center;
    padding: 20px 0px 5px 0px;
    background-color: #1c1c1c;
}

footer div h5{
    color: #c7c7c7;
}

